/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/
*.rbc
capybara-*.html
.rspec
/spec/tmp
/coverage/
/vendor/
.powenv
/.direnv/
/sc_core-*.gem
/test/dummy/vendor/*
/test/dummy/tmp/*
/test/dummy/.bundle/
/test/dummy/log/
/test/dummy/cavarage/
/test/dummy/spec/reports/

