.page-header
  .row
    .col-md-10
      %h4 サーバ内部エラーが発生しました。URLをご確認ください。
    .col-md-1
      = link_to main_app.root_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          　トップへ

