%br
.container
  .row
    .small.col-md-4.col-xs-4
      ©2015
      = link_to 'YourCompany inc.', 'http://www.your-company.jp/', {target: '_blank'}
      All rights reserved.
    .footer-logo.col-md-1.col-xs-1.pull-right
