.page-header
  = link_to roles_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_role_path(@role), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show role

%dl.dl-horizontal
  %dt Identifier:
  %dd= @role.identifier
  %dt Name:
  %dd= @role.name
