<!DOCTYPE html>
<html>
<head>
  <title>ScCore</title>
  <%= stylesheet_link_tag    "sc_core/application", media: "all" %>
  <%= javascript_include_tag "sc_core/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
